<div class="m-10 p-10">
  


  <p-card class="mx-5 p-20" header="ULM RSS FEED">
    <div *ngFor="let item of items">

        
      <p-card class="m-2" header="{{item.title}}" subheader="{{item.author}}" [style]="{ width: '360px' }">
        <ng-template pTemplate="header">
            <img alt="Card" [src]="item.imageUrl" />
        </ng-template>
        <p>
          {{ item.description }}
        </p>
        <ng-template pTemplate="footer">
            <p-button label="Save" icon="pi pi-check"></p-button>
            <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
        </ng-template>
      </p-card>
    </div>
  </p-card>
  
</div>
