<div class="flex flex-row flex-wrap card-container" >
  <div class="card" *ngFor="let item of items">
    <p-card class="card-style" header="{{item.title}}" subheader="{{item.author}}" >
      <ng-template pTemplate="header">
          <img alt="Card" [src]="item.imageUrl" />
      </ng-template>
      <p>
        {{ item.description }}
      </p>
      <span *ngFor="let cat of item.category">
        <p-chip class="mx-1" label="{{cat}}"></p-chip>
      </span>
      <ng-template pTemplate="footer">
          <p-button label="Save" icon="pi pi-check"></p-button>
          <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
      </ng-template>
    </p-card>
  </div>
</div>
